.container{
    background-color: gray;
    margin : 50px;
    padding:20px;
    
}
.box{
    height: 150px;
    width:150px;
    display: inline-block
}

.box1{
    background-color: red;
}

.box2{
    background-color: green;
    margin-left:30px;
    margin-right:30px;
    text-align:center
    
}

.box3{
    background-color: blue;
}

.box4{
    
    height: 150px;
    width:150px;
    background-color: gold;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.container1{
    background-color: gray;
    padding: 20px;
    
    
}